ENCRYPTION_KEY=82CI8D-IJ8lieg3pdGHC-K9E0-Pyj3_WRElz6wt5KWc=
DATABASE_URL=postgresql://postgres:postgres@db:5432/socialsync

REDIS_URL=redis://redis:6379/0

# FACEBOOK_CLIENT_ID=1402335734977279
# FACEBOOK_SECRET=193be9a210d5a35ccfd68792622764ac

FACEBOOK_CLIENT_ID=your_facebook_app_id
FACEBOOK_SECRET=your_facebook_app_secret



LINKEDIN_CLIENT_ID=
LINKEDIN_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=

TWITTER_CLIENT_ID=
# TWITTER_CLIENT_ID=FAtqNTyarG-aXpum_l5m
TWITTER_CLIENT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BACKEND_PUBLIC_URL=http://localhost:8000

FACEBOOK_REDIRECT_URI=http://localhost:8000/api/v1/oauth/facebook/callback
INSTAGRAM_REDIRECT_URI=http://localhost:8000/api/v1/oauth/instagram/callback
LINKEDIN_REDIRECT_URI=http://127.0.0.1:8000/api/v1/oauth/linkedin/callback
GOOGLE_REDIRECT_URI=http://localhost:8000/api/v1/oauth/google/callback
TWITTER_REDIRECT_URI=http://127.0.0.1:8000/api/v1/oauth/twitter/callback

FRONTEND_URL=http://localhost:3000
ADDITIONAL_CORS_ORIGINS=https://social-sync-21av0at13-kkbiswas8-9018s-projects.vercel.app



API_V1_STR=/api/v1
##JWT Authentication

AUTH_REQUIRED=true
ALLOW_DEV_TENANT_HEADER=false

JWT_ALGORITHM=HS256
JWT_SECRET=
JWT_TENANT_CLAIM=TenantId
JWT_SUBJECT_CLAIM=UserId
JWT_ROLE_CLAIM=ISAdmin
QUERY_TENANT_PARAM=tenantId


bearer_token=